:root{
    --azul: rgb(0, 110, 255);
}
*{
    margin: 0;
    padding: 0;
}
html{
    width: 100%;
}
body{
    background: linear-gradient(rgb(238, 236, 236), rgb(0, 0, 0));
    box-sizing: border-box;
    width: 100%;
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
}
h1{
    font-size: 2.5rem;
    text-align: center;
    margin: 15px 0 30px 0;
}
.contenedor{
    width: 100%;
    display: grid;
    /* flex-direction: row; */
    /* gap: 5vw; */
    grid-template-columns: 1fr 1fr;
}
form{
    display: flex;
    width: 100%;
}
.streamdeck{
    height: 65vh;
    width: fit-content;
    /* border: black 2px solid; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    padding: 10px;
    background-color: black;
    border: solid white 2px, black 5px solid;
    margin-left: 50px;
    transform: translateX(65%);
    transition: all 300ms;
}
.fila{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.fila > label{
    width: 8.5vw;
    min-width: 30px;
    min-height: 70px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 2.5rem;
    background-color: rgb(0, 110, 255);
    border: white solid;
    color: white;
    transition: all 200ms;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.fila input{
    display: none;
}
.fila > label:hover{
    border: rgb(0, 110, 255);
    transition: all 200ms;
    color: black;
    font-weight: bold;
}
.streamdeck .letra{
    background-color: red;
}
.streamdeck .letra:hover{
    border: red;
    transition: all 200ms;
}
.streamdeck input[type='radio']:checked + label{
    background-color: #eee;
    color: rgb(0, 110, 255);
    font-weight: bolder;
    transition: all 200ms;
    border-color: rgb(0, 110, 255);
}
.streamdeck input[class="btnLetra"]:checked + label{
    background-color: #eee;
    color: red;
    font-weight: bolder;
    transition: all 200ms;
    border-color: red;
}
.funciones{
    transform: translateX(100%);
    border-radius: 10px 0 0 10px;
    background-color: black;
    width: 100%;
    height: auto;
    padding: 15px;
    transition: all 300ms;
}
.funcionesActivo{
    transform: translate(0);
    transition: all 300ms;
}
.funciones{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    align-items: center;
    padding: 25px 10px 10px 10px;
}
.funciones input[type="text"]{
    width: 40%;
    padding: 4px 10px;
    border-radius: 10px;
    transition: all 200ms;
}
.funciones input[type="text"]:focus{
    background-color:  var(--azul);
    color: white;
    transition: all 200ms;
}
.funciones button{
    width: fit-content;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--azul);
    color: white;
    border: white inset 2px;
    transition: all 200ms;
}
.funciones button:hover{
    background-color: red;
    transition: all 200ms;
}
.tutorial {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.tutorial h1{
    padding: 30vh 0 10vh 0;
}

.info1 {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    transition: all 800ms;
}

.info1 video{
    border-radius: 10px;
    box-shadow: black 3px 3px 8px;
}

.info1 p{
    width: 50%;
    font-size: 1.4rem;
    padding: 10VH ;
}
#info1{
    transform: translateX(-100vw);
}
#info2{
    color: white;
    transform: translateX(100vw);
}
#info3{
    color:white;
    transform: translateX(-100vw);
}

.contenedorInfo{
    gap: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}