html
  head
    style
      include index.css
    title= title
  body
    h1(class="text-6x1 text-red")= message
    .contenedor 
      div.streamdeck
        .fila 
          button 1
          button 2
          button 3
          button.letra A
        .fila 
          button 4
          button 5
          button 6
          button.letra B
        .fila 
          button 7
          button 8
          button 9
          button.letra C
        .fila 
          button(class = 'letra asterisco') *
          button 0
          button.letra #
          button.letra D
      .funciones
        form(action="/resultado" method = "post") 
          label(for="archivo") Ingrese el URL del archivo
          input(type='text' id = 'archivo' name = 'archivo')
          button(type='submit') Enviar
