html
  head
    style
      include index.css
    title= title
  body
    div.cuenta
      div.login
        if userLoggedIn
          span Hola, #{username} |
          a(href="./logout") Cerrar Sesión
        else
          a(href="./register") Crear Cuenta
          a(href="./login") Ingresar 
    h1= message
    form(action="/resultado" method = "post")
      .contenedor
          div.streamdeck 
            .fila
              input(type = "radio" name = "boton" value = "1" id = "boton1" class = "labelBoton")
              label(for="boton1") 1
              input(type = "radio" name = "boton" value = "2" id = "boton2" class = "labelBoton")
              label(for="boton2") 2
              input(type = "radio" name = "boton" value = "3" id = "boton3" class = "labelBoton")
              label(for="boton3") 3
              input(type = "radio" name = "boton" value = "A" id = "botonA" class = "btnLetra labelBoton")
              label(for="botonA").letra A
            .fila
              input(type = "radio" name = "boton" value = "4" id = "boton4" class = "labelBoton")
              label(for="boton4") 4
              input(type = "radio" name = "boton" value = "5" id = "boton5" class = "labelBoton")
              label(for="boton5") 5
              input(type = "radio" name = "boton" value = "6" id = "boton6" class = "labelBoton")
              label(for="boton6") 6
              input(type = "radio" name = "boton" value = "B" id = "botonB" class = "btnLetra labelBoton")
              label(for="botonB").letra B
            .fila
              input(type = "radio" name = "boton" value = "7" id = "boton7" class = "labelBoton")
              label(for="boton7") 7
              input(type = "radio" name = "boton" value = "8" id = "boton8" class = "labelBoton")
              label(for="boton8") 8
              input(type = "radio" name = "boton" value = "9" id = "boton9" class = "labelBoton")
              label(for="boton9") 9
              input(type = "radio" name = "boton" value = "C" id = "botonC" class = "btnLetra labelBoton")
              label(for="botonC").letra C
            .fila
              input(type = "radio" name = "boton" value = "*" id = "botonAsterisco" class = "btnLetra labelBoton")
              label(for="botonAsterisco").letra *
              input(type = "radio" name = "boton" value = "0" id = "boton0" class = "labelBoton")
              label(for="boton0") 0
              input(type = "radio" name = "boton" value = "#" id = "botonHashtag" class = "btnLetra labelBoton")
              label(for="botonHashtag").letra #
              input(type = "radio" name = "boton" value = "D" id = "botonD" class = "btnLetra labelBoton")
              label(for="botonD").letra D
          .funciones
            p.direccionPrevia(style="display:none;")
            label(for="archivo") Ingrese el URL del archivo
            input(type='text' id = 'archivo' name = 'archivo')
            button(type='submit') Enviar
            .predeterminados 
              h2 Funciones predeterminadas
              .botones
                button(type='button' value = "code" id = "visual" class = "botonPredeterminado")
                  img(src="./img/visualstudio.webp")
                button(type='button' value= "https://www.youtube.com" id = "youtube" class = "botonPredeterminado")
                  img(src="./img/youtube.png")
                button(type='button' value= "github" id = "github" class = "botonPredeterminado")
                  img(src="./img/github.png")
                button(type='button' value = "ms-settings:" id = "configuracion" class = "botonPredeterminado")
                  img(src="./img/configuracion.png")
                button(type='button' value = "https://www.instagram.com" id = "instagram" class = "botonPredeterminado")
                  img(src="./img/instagram.png")
                button(type='button' value = "C:/xampp/xampp-control.exe" id = "xampp" class = "botonPredeterminado")
                  img(src="./img/xampp.png")
                button(type='button' value = "taskmgr" id = "administradortareas" class = "botonPredeterminado")
                  img(src="./img/administradortareas.png")
                button(type='button' value = "calc" id = "calculadora" class = "botonPredeterminado")
                  img(src="./img/calculadora.png")
    div.tutorial 
      h1 Tutorial 
      div.contenedorInfo 
        .info1(id="info1")
          <video width="500" height="281" autoplay loop="true" muted>
            <source src="./img/tutorial1.mp4" type="video/mp4">
          </video> 
          p Para poder utilizar la streamdeck hay que copiar la ubicacion del archivo, para estoy hay que ir al archivo que quieras utilizar, con click derecho ir a propiedades y donde dice "Destino:" copiar con "Control + C". 
        .info1(id="info2")
          p Además podés copiar la URL de un sitio web, seleccionando toda la URL copiando con "Control + C". 
          <video width="500" height="281" autoplay loop="true" muted>
            <source src="./img/tutorial2.mp4" type="video/mp4">
          </video>
        .info1(id="info3")
          <video width="500" height="265" autoplay loop="true" muted>
            <source src="./img/tutorial3.mp4" type="video/mp4">
          </video>
          p Para poder utilizar la streamdeck tenes que seleccionar el numero o letra que quieras enlazar, para esto hay que pegar con "Control + V" el link en el apartado que dice "Ingrese el URL del archivo" y darle al boton de "Enviar". Listo ya lo tenes seteado :D 
script.
  funcionesBotones = !{JSON.stringify(funcionesBotones)};
script(src='mostrarFunciones.js') 