body{
    background: linear-gradient(rgb(238, 236, 236), rgb(0, 0, 0));
    box-sizing: border-box;
    width: 100%;
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
}

.login{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
    width: fit-content;
    padding: 7px 7px 7px 10px;
    border-radius: 10px;
}

.login a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    transition: all 260ms;
    border:black solid 2px; 
    background-color: #e7e7e7;
    padding: 4px 4px 4px 4px;
    border-radius: 8px;
}
.login a:hover{
    color: #e7e7e7;
    transition: all 300ms;
    background-color: rgb(0, 110, 255);
    transform: scale(1.05);
}
.cuenta {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.contenedor{
    background-color: #e7e7e7;
    width: 30vw;
    height: 50vh;
    margin-left: 35%;
    margin-top: 40px;
    border-radius: 30px;
}

.contenedorLogin{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.3rem;
    font-weight: 400;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contenedorLogin input{
    width: 60%;
    height: 25px;
    border-radius: 8px;
    border: black solid 2px;
    padding: 5px 5px 5px 10px;
    font-size: 16px;
    transition: all 300ms;
}
.contenedorLogin button{
    width: 30%;
    height: 40px;
    border-radius: 8px;
    border: black solid 2px;
    background-color: rgb(0, 110, 255);
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: all 300ms;
}

.contenedorLogin button:hover{
    background-color: rgb(0, 68, 170);
    transform: scale(1.09);
}
.contenedorLogin input:focus{
    outline: none;
    box-shadow: 0 0 10px rgb(0, 110, 255);
    transform: scale(1.02);
}
h1{
    text-align: center;
}